<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitVersion" value="https://ci.appveyor.com/nuget/gitversion-8nigugxjftrw" protocolVersion="2" />
    <add key="NuGet Official" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>